fastapi
uvicorn
pydantic
aiokafka
confluent-kafka[avro]
sqlalchemy
alembic
redis
streamlit
pytest
locust
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
prometheus-client
python-jose
passlib
tenacity
pybreaker
